[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/fastgltf"]
	path = vendor/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "vendor/mikktspace"]
	path = vendor/mikktspace
	url = https://github.com/mmikk/MikkTSpace
